<!DOCTYPE html>
<html>
    <head>
        <title>Borrow Book</title>
    </head>

    <body>
        <h2>Borrow: {{ book.title }}</h2>
        <p> Author: {{ book.author }}</p>
        <p> Synopsis: {{ book.synopsis }}</p>


        <form method="post">
            {% csrf_token %}
            {{{ form.as_p }}}
            <p> Note: The return date will automatically set to 2 weeks from your borrow date.</p>
            <button type="submit">Confirm Borrow</button>
        </form>

        <a href="{% url 'bookclub:book_detail' book.pk %}">Back to Book Details</a>
    </body>
</html>
