<!DOCTYPE html>
<html>
    <head>
        <title>{{ book.title }}</title>
    </head>
    <body>
        <h1>{{ book.title }}</h1>
        <p> Author: {{ book.author }}</p>
        <p> Synopsis: {{ book.synopsis }}</p>
        <p> Genre: {{ book.genre }}</p>
        <p> Publication Year: {{ book.publication_year }}</p>
        <p>Status: 
            {% if object.available_to_borrow %}
                Available
            {% else %}
                Not Available
            {% endif %}
        </p>
        <p> Bookmarks: {{ bookmark_count }}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="bookmark">
                {% if is_bookmarked %}
                    Remove Bookmark
                {% else %}
                    Add Bookmark
                {% endif %}
            </button>
        </form>

        {% if book.available_to_borrow %}
            <a href="{% url 'bookclub:book_borrow' book.pk %}">Borrow this book</a>
        {% else %}
            <p style="color: red;">This book is currently borrowed.</p>
        {% endif %}

        <br>

        {% if user.is_authenticated and user.bookclub_profile == book.contributor %}
            <a href="{% url 'bookclub:book_update' book.pk %}">Edit Book</a>
        {% endif %}

        <h4>Reviews</h4>
        <ul>
            {% for review in book.reviews.all %}
                <p>{{ review.content }} by {{ review.user.username }}</p>
            {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button name="submit_review" type="submit">Submit Review</button>
        </form>
    </body>
</html>
