<!DOCTYPE html>
<html>
<head>
    <title>{{ event.title }}</title>
</head>
<body>
    <h1>{{ event.title }}</h1>

    <p>{{ event.description }}</p>
    <p>{{ event.location }}</p>
    <p>{{ event.start_time }} - {{ event.end_time }}</p>

    {% if user.is_authenticated %}
        {% if user.profile not in event.organizer.all %}
            <form method="post" action="{% url 'localevents:event-signup' event.pk %}">
                {% csrf_token %}
                <button
                    {% if event.eventsignup_set.count >= event.capacity %}
                        <button disabled>Full</button>
                    {% endif %}
                >
                    Sign Up
                </button>
            </form>
        {% endif %}
    {% else %}
        <a href="{% url 'localevents:event-signup-form' event.pk %}">Sign Up</a>
    {% endif %}

    <a href="{% url 'localevents:event-update' event.pk %}">Edit</a>
</body>
</html>